form {
	background: #F2F2F2;
	display: block;
	width: 550px;
	height: 520px;
	border: 2px solid silver;
	margin: 40px 20px 20px 5px;
	padding: 1em;
	float: center;
}

h3 {
	text-align: center;
}

form p {
	margin: 10px 0px 5px 0px;
}

select {
	margin: 0px 0px 5px 20px;
	width: 200px;
	padding: 0.2em;
}


input {
	margin: 8px 0px 0px 0px;
}

input:hover{
	cursor: pointer;
}

#botones {
	margin: 0px 0px 0px 70px;
}

#botones input {
	padding: 0.5em;
}

textarea {
	width: 340px;
	margin: 0px 0px 5px 20px;
}



